<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here at KWH Windows & Doors, our aim is to help people improve the quality of their homes.</h2>
                <hr class="light">
                <p class="text-faded">We have a wide-ranging collection of windows and doors at our disposal to help build your dream home. We ensure you that our products are energy efficient and will help you maintain a comfortable home within the fast-changing British weather. </p>
            </div>
        </div>
    </div>
</section>
